body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fad66b;
}
h1 {
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin: 12px auto;
    background-color: #eb4946;
    border-radius: 10px;
}