body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fad66b;
    overflow-x: hidden;
}
h1 {
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin: 12px auto;
    background-color: #eb4946;
    border-radius: 10px;
    transform: translateX(100vw);
    transition: transform 0.5s ease;
}
.content:nth-of-type(even) {
    transform: translateX(-100vw);
}
.content.slidden {
    transform: translateX(0);
}


#info {
    display: block;
    position: fixed;
    width: 450px;
    margin-left: 50px;
    padding: 4px;
    border: 2pt solid black;
    border-radius: 10px;
}
#showScroll {
    position: sticky;
}